:host {
  display: contents;
}

.location-section {
  padding-top: 75px;

  &-title {
    margin-bottom: 50px;
    grid-column: 1;
  }

  &-address {
    margin-bottom: 50px;
    grid-column: 1;
    grid-row: 2;
  }
}

.map {
  overflow: hidden;
  width: 100%;
  height: 680px;
  margin-bottom: 75px;
  border: 1px solid var(--black-50);
  border-radius: 8px;
  background-image: url("/assets/images/map.png");
  background-position: center center;
  background-size: cover;
  grid-column: 1 / -1;
}

:host ::ng-deep .map ymaps {
  filter: grayscale(1);
}
