<header [class.main-header_compact]="compactHeader" class="main-header grid">
  <nav class="main-nav">
    <ul class="nav-list clear-list">
      <li *ngFor="let section of sections">
        <a
          (click)="fakeRoute($event)"
          [attr.data-route]="section.anchor"
          [class.active]="activeLink === section.anchor"
          class="nav-link underline-decoration"
          href="#{{ section.anchor }}"
        >
          {{ section.title }}
        </a>
      </li>
    </ul>
  </nav>

  <a class="button-link" href="##">
    Заказать звонок
  </a>
</header>
