:host {
  display: contents;
}

.main-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: clamp(320px, calc(100vw - 200px), 1920px - 200px);
  min-height: 142px;
  transition: min-height 125ms;
  background-color: var(--white);

  &_compact {
    z-index: 1;
    min-height: 68px;
  }

  @media (max-width: 1220px) {
    max-width: clamp(320px, calc(100vw - 20px), 1920px - 200px);
  }
}

.nav-list {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-link {
  position: relative;
  transition: color 125ms;
  transition-delay: 150ms;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--black-600);
  }

  &:active,
  &.active {
    color: var(--black-900);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--black-200);

    &:active {
      pointer-events: none;
    }
  }
}
