:host {
  display: contents;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 142px;
    transition: height var(--medium-transition);
    background-color: var(--white);

    &.compact {
      z-index: 1;
      height: 68px;
      border-bottom: 1px solid var(--black-50);
    }
  }

  .button-link {
    margin-right: 32px;
  }
}

.nav-list {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-link {
  position: relative;
  transition: color var(--medium-transition);
  transition-delay: 150ms;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--black-600);
  }

  &:active,
  &.active {
    color: var(--black-900);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--black-200);

    &:active {
      pointer-events: none;
    }
  }
}
