.underline-decoration {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    transition: inset var(--medium-transition), opacity var(--medium-transition), height var(--medium-transition);
    opacity: 0;
    background-color: currentColor;
    inset: 105% 0 0 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      inset: 100% 0 0 0;
    }
  }

  &:active,
  &.active {

    &::before {
      height: 2px;
      opacity: 1;
      inset: 48% 0 0 0;
    }
  }
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
