.underline-decoration {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    transition: inset 125ms, opacity 175ms;
    transition-delay: 150ms;
    opacity: 0;
    background-color: currentColor;
    inset: 105% 0 0 0;
  }

  &:hover {
    &::before {
      opacity: 1;
      inset: 100% 0 0 0;
    }
  }

  &:active,
  &.active {

    &::before {
      opacity: 1;
      inset: 50% 0 0 0;
    }
  }
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
