:root {
  --black-50: hsla(0, 0%, 95%, 1);
  --black-100: hsla(0, 0%, 90%, 1);
  --black-200: hsla(0, 0%, 80%, 1);
  --black-300: hsla(0, 0%, 70%, 1);
  --black-400: hsla(0, 0%, 60%, 1);
  --black-500: hsla(0, 0%, 0%, 1); // why 0, not 50?
  --black-600: hsla(0, 0%, 40%, 1);
  --black-700: hsla(0, 0%, 30%, 1);
  --black-800: hsla(0, 0%, 20%, 1);
  --black-900: hsla(0, 0%, 10%, 1);
  --black-950: hsla(0, 0%, 5%, 1);
}
