@use "normalize";
@use "typo";
@use "colors";
@use "grid";
@use "buttons";
@use "beatify";
@use "scrollbar";
@use "transitions";
@use "keyframes";

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--black-900);
  background-color: var(--white);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
