.title {
  font-family: "PT Mono", monospace;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  line-height: 72px;
  margin: 0;
}

.text-regular {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  margin: 0;

  &_bold {
    font-weight: 700;
  }
}
