<section class="about-section grid">
  <h2 class="title">О проекте</h2>
  <p class="text-regular">Дома на «Пулковском» — это центр Иркутска-2, одного из самых уютных районов нашего города.
    Именно поэтому мы называем
    его Первый Второй. Потому что Иркутск-2 – первый по идентичности, первый по инфраструктуре и абсолютно точно «первый
    по людям».</p>
  <p class="text-regular">Вариативность планировок «Пулковского» позволит спланировать покупку квартиры в соответствии с
    Вашими
    предпочтениями.</p>
  <p class="text-regular">Особая геометрия «мультидвора» и пешеходная доступность зеленых зон создадут ощущение
    нахождения
    в современном
    парке.</p>
</section>
